.userContent-wrapper{
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
  width: 90%;
  border-radius: .5rem;
  overflow-y: auto;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.btn-scroll{
  position: absolute;
  width: 10vmin;
  height: 10vmin;
  bottom: 5%;
  right: 7%;

  &:hover{
    cursor: pointer;
  }
}