*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 100%;
}

table{
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid black
}

#arr{
    margin: 10px;
}