.modal-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-wrapper__block{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 40%;
    background-color: #fff;
    border-radius: 2rem;

    .modal-wrapper-block__title{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      height: 20%;
      border-bottom: 1px solid lightgray;
    }

    .modal-wrapper-block__content{
      display: flex;
      flex-direction: column;
    }
  }
}